<div class="row">
    <div id="educacion">
    <h1>Educacion</h1>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
            <h1>Estudio 1</h1> - <h3>(years)</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure dolorum quaerat odit quo consequatur magni necessitatibus, eius quidem animi aliquid at tempora nobis dolore ducimus sapiente eaque nemo reiciendis quasi!</p>
            </li>
        </ul>
        <ul>
            <li>
            <h1>Estudio 2</h1> - <h3>(years)</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure dolorum quaerat odit quo consequatur magni necessitatibus, eius quidem animi aliquid at tempora nobis dolore ducimus sapiente eaque nemo reiciendis quasi!</p>
            </li>
        </ul>
        <ul>
            <li>
            <h1>Estudio 3</h1> - <h3>(years)</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure dolorum quaerat odit quo consequatur magni necessitatibus, eius quidem animi aliquid at tempora nobis dolore ducimus sapiente eaque nemo reiciendis quasi!</p>
            </li>
        </ul>
    </div>
</div>