<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"><img src="../../../assets/APLogo.png" id="logoAP"></a>
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"><span>#YoProgramo.</span></a>
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/aaxeeel/"><img src="../../../assets/facebook.png" alt=""></a>
            <a href="https://www.instagram.com/axel_asdfg/"><img src="../../../assets/instagram.png" alt=""></a>
            <a href="https://twitter.com/__CL4Y"><img src="../../../assets/twitter.png" alt=""></a>
            <a href="https://github.com/AxelAcu-Arg"><img src="../../../assets/github.png" alt=""></a>
            <button type="button" class="btn btn-outline-light">Log-in</button>
        </div>
    </div>
</div>