<div class="row">
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
        <div class="row align-items-start">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil">
        </div>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h5 id="nombre">Acuña Axel Elias</h5>
        <h6 id="titulo">Full Stack Developer Jr</h6>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptas eveniet consectetur odio doloribus minima omnis? Deserunt ab aliquam laborum quam, at esse illo, similique hic voluptatem cupiditate rem perspiciatis.</p>
        </span>
    </div>
    
</div>
